.primary-card {
  background-color: #B90B34;
}
.secondary-card {
  background-color: #000000;
  color: #ffffff;
  .card-title {
    color: #ffffff;
  }
}
.secondary-card:hover{
  background-color: #B90B34;
}
.red{
background-color: #B90B34;
color: #ffffff;
}
.white{
  background-color: white;
  color:black;
}
.white:hover{
  background-color: #B90B34;
}
.red:hover{
  background-color: #B90B34;
}
button:hover{
  color: #B90B34;
}

.card-title-black{
  color: #ffffff;
}
.card-subtitle-black {
  color: #ffffff;
}
.buttons-black{
  background-color: #B90B34;
  color: #ffffff;
}
.header-btn{

}
