page-list {
color: black;
}
.header{
  color: #ffbd48;
}
ion-navbar{
  background-color: black;
}
.white:hover{
  background-color: #B90B34;
}
.red:hover{
  background-color: #B90B34;
}
button:hover{
  color: #B90B34;
}
h2{
  color:white;
}
h6{
  color:#B90B34;
}
.item{
  background-color: white;
}
.srag{
  width: auto;
  height: 200px;
}
